<ion-card>
  <ion-card-header>
    <ion-card-title style=" text-align: start !important;">Cobros Pendientes</ion-card-title>
  </ion-card-header>
  <div class="ion-text-center">
    <ion-spinner name="dots" *ngIf="obtener"></ion-spinner>
  </div>
  <ion-card-content *ngIf="lstPendientes">
    <ion-item *ngIf="lstPendientes.length==0">
      <ion-label>No registra cobros pendientes</ion-label>
    </ion-item>
    <ion-item *ngFor="let documento of lstPendientes">
      <ion-avatar slot="start">
        <ion-icon src="./assets/svg/dinero.svg" style="margin-right: 20px !important; font-size: xx-large;"></ion-icon>
      </ion-avatar>

      <div>
        <ion-label style="font-weight: 800" class="encabezado" color="primary">Folio: {{documento.folio}}</ion-label>

        <p class="dato ion-text-lowercase">Fecha creacion: {{documento.fechaCreacion | date:'dd/MM/yyyy'}}</p>
        <p class="dato ion-text-lowercase">Fecha vencimiento: {{documento.fechaVencimiento | date:'dd/MM/yyyy'}}</p>
        <p style="font-weight: 800" color="primary">Monto: {{documento.saldo |formatoMoneda}}</p>
        <p style="font-weight: 800" color="primary">Saldo: {{documento.saldo |formatoMoneda}}</p>

      </div>
    </ion-item>
  </ion-card-content>
</ion-card>