<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button color="light" (click)="events.publish('actualizar',true);" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle cliente</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-segment scrollable="scrollable" mode="md" color="light" (ionChange)="cambioPagina( $event,theSlides )">
      <ion-segment-button mode="md" *ngFor="let pag of paginas" [value]="pag" checked="pag.icon==='person'">
        <ion-icon [name]="pag.icon"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #theSlides>
    <ion-slide>
      <app-datos-cliente></app-datos-cliente>
    </ion-slide>
    <ion-slide>
      <app-mas-comprados></app-mas-comprados>
    </ion-slide>
    <ion-slide>
      <app-cobros-pendietes></app-cobros-pendietes>
    </ion-slide>
    <ion-slide>
        <app-comentarios></app-comentarios>
      </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title style=" text-align: start !important;">Historial Llamadas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <app-listado-llamadas [llamadas]="llamadas"></app-listado-llamadas>
        </ion-card-content>
      </ion-card>

    </ion-slide>
    <ion-slide>
      <app-pedidos></app-pedidos>
    </ion-slide>
  </ion-slides>

</ion-content>