<ion-card>
  <ion-card-header>
    <ion-card-title style=" text-align: start !important;">Comentarios Llamadas</ion-card-title>
  </ion-card-header>
  <div class="ion-text-center">
    <ion-spinner name="dots" *ngIf="obtener"></ion-spinner>
  </div>
  <ion-card-content *ngIf="lstComentarios">
    <ion-item *ngIf="lstComentarios.length==0">
      <ion-label>No registra comentarios</ion-label>
    </ion-item>
    <ion-item  *ngFor="let comentario of lstComentarios">
      <ion-avatar slot="start">
        <ion-icon src="./assets/svg/nota.svg" style="margin-right: 20px !important; font-size: xx-large;"></ion-icon>
      </ion-avatar>

      <div>
        <ion-label style="font-weight: 800" class="encabezado" color="primary">Fecha creacion: {{comentario.fechaCreacion }}</ion-label>
 
        <p style="font-weight: 800" color="primary">{{comentario.Observaciones}}</p>
      </div>
    </ion-item>
  </ion-card-content>
</ion-card>