<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="clienteTab">
      <ion-icon name="person"></ion-icon>
      <ion-label>Clientes</ion-label>
    </ion-tab-button>
     <ion-tab-button tab="contactados-tabs">
      <ion-icon name="call"></ion-icon>
      <ion-label>Contactados</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="historial-tabs">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>

   <!--  <ion-tab-button tab="tab3">
      <ion-icon name="send"></ion-icon>
      <ion-label>Tab Three</ion-label>
    </ion-tab-button> -->


  </ion-tab-bar>

</ion-tabs>