ion-progress-bar{
    border-radius: 50px;
    height: 7px;
}

.color{
    color: black !important;
}

p{
    color: black !important;

    font-size: 14px !important;
}

ion-item {
    --ion-safe-area-right: 0 !important;
  }