<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Historial Llamada</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>

      <ion-card-title>Estadisticas de llamadas</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-item class="ion-no-padding">
        <ion-label slot="start">
          <p>Contestadas</p>
        </ion-label>
        <ion-label slot="end">
          <p> <span class="color">{{historial.sumaContestadas}}</span> / <span
              style="color: gray !important;">{{historial.totalLlamadas}}</span></p>
        </ion-label>
      </ion-item>
      <ion-progress-bar class="ion-margin-bottom" color="primary" [value]="historial.porcentajeContestadas">
      </ion-progress-bar>

      <ion-item class="ion-no-padding">
        <ion-label slot="start">
          <p>No contestadas</p>
        </ion-label>
        <ion-label slot="end">
          <p> <span class="color">{{historial.sumaNoContestadas}}</span> / <span
              style="color: gray !important;">{{historial.totalLlamadas}}</span> </p>
        </ion-label>
      </ion-item>
      <ion-progress-bar class="ion-margin-bottom" color="danger" [value]="historial.porcentajeNoContestadas">
      </ion-progress-bar>
    </ion-card-content>
  </ion-card>
  <ion-toolbar color="primary">
    <ion-segment scrollable="scrollable" mode="md" color="light" (ionChange)="cambioPagina( $event,slideLlamada )">
      <ion-segment-button mode="md" *ngFor="let pag of paginas" [value]="pag"
        checked="pag.titulo==='Llamadas contestadas'">
        <ion-label class="ion-text-capitalize" style="font: 10px;">{{pag.titulo}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-slides #slideLlamada>
    <ion-slide>
      <ion-card>
        <ion-card-header>

          <ion-card-title>Llamadas contestadas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <app-listado-llamadas [llamadas]="historial.llamadasContestadas"></app-listado-llamadas>

        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>

          <ion-card-title>Llamadas no contestadas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <app-listado-llamadas [llamadas]="historial.llamadasNoContestadas"></app-listado-llamadas>

        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>


</ion-content>