<ion-card>
  <ion-card-header>
    <ion-card-title style=" text-align: start !important;">Pedidos</ion-card-title>
  </ion-card-header>
  <div class="ion-text-center">
      <ion-spinner name="dots" *ngIf="obtener"></ion-spinner>
    </div>
  <ion-card-content class="ion-no-padding">
      <ion-item *ngFor="let pedido of listadoPedido" class="ion-no-padding">
          <ion-row>
            <ion-col size="6">
              <ion-row>
                <ion-col size="12">
                  <ion-label>
                    {{pedido.Venta | formatoMoneda}}
                  </ion-label>
                </ion-col>
      
                <ion-col size="12">
                  <ion-label>{{pedido.folio |slice:0:9}}</ion-label>
                </ion-col>
              </ion-row>
            </ion-col>
      
            <ion-col size="6">
              <ion-row>
                <ion-col size="12">
                  <ion-badge color="danger">{{pedido.estado}}</ion-badge>
                </ion-col>
      
                <ion-col size="12">
                  <ion-label>{{pedido.fecha }}</ion-label>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-item>
  </ion-card-content>
</ion-card>