<ion-card>
  <ion-card-header>
    <ion-card-title style=" text-align: start !important;">Más comprados</ion-card-title>
  </ion-card-header>
  <div class="ion-text-center">
    <ion-spinner name="dots" *ngIf="listadoArticulo.length===0"></ion-spinner>
  </div>
  <ion-card-content *ngIf="listadoArticulo">
    <ion-item *ngFor="let articulo of listadoArticulo">
      <ion-avatar slot="start">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/imagenimplementos.appspot.com/o/150%2F{{articulo.sku}}.jpg?alt=media"
          onError="this.src='https://www.implementos.cl/wp-content/uploads/2019/05/place-150x150.png'"
          style="height: 50px;  width: 50px">

      </ion-avatar>

      <div>
        <ion-label style="font-weight: 800" class="encabezado" color="primary">{{articulo.sku}}</ion-label>
        <p class="dato ion-text-lowercase">{{articulo.nombre }}</p>
        <p class="dato ion-text-lowercase">cantidad: {{articulo.cantidad}}</p> 

      </div>

        <div slot="end">
           
  
            <ion-badge class="ion-text-end" color="danger" mode="ios" >
              {{articulo.precio | formatoMoneda}}
            </ion-badge>
          </div> 
    </ion-item>
  </ion-card-content>
</ion-card>