<ion-header>
    <ion-toolbar color="dark">
      <ion-title>Comentario Llamada</ion-title>
  
      <ion-buttons slot="end">
        <ion-button (click)="cerrarModal()">
          <ion-icon
            name="close"
            color="light"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <ion-card-content>
        <form
          [formGroup]="comentarioForm"
          (ngSubmit)="logForm()"
          class="ion-margin"
        >
          <ion-item>
            <ion-textarea
              formControlName="comentario"
              placeholder="Ingrese comentario"
            ></ion-textarea>
          </ion-item>
  <!-- 
          <ion-item>
            <ion-icon slot="end" name="mic" color="primary"></ion-icon>
            <ion-label>Grabar nota</ion-label>
          </ion-item> -->
          <ion-item class="ion-no-padding">
            <div>
              <ion-chip outline color="primary" *ngFor="let texto of autoComentario" (click)="addComentario(texto)">
                  <ion-label>{{texto.comentario}}</ion-label>
                  <ion-icon name="add-circle-outline"></ion-icon>
                </ion-chip>
            </div>          
          </ion-item>
          <div class="ion-padding-top">
            <ion-button
              expand="block"
              type="submit"
              [disabled]="!comentarioForm.valid"
            >Guardar<ion-icon name="save"></ion-icon></ion-button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </ion-content>