<ion-item *ngFor="let llamada of llamadas">
  <ion-avatar slot="start">
    <img *ngIf="llamada.segundos==0" src="./assets/png/llamadaPerdida.png" style="margin-right: 20px !important; font-size: xx-large;">
    <ion-icon *ngIf="llamada.segundos>0"  src="./assets/svg/llamadaRealizada.svg" style="margin-right: 20px !important; font-size: xx-large;">
    </ion-icon>
  </ion-avatar>
  <div class="margin-vertical">
    <ion-label class="encabezado" color="primary">{{llamada.rut | rut}}</ion-label>

    <p style="font-weight: 800" class="ion-text-lowercase datos">{{llamada.nombre}}</p>

  </div>

  <div slot="end">
    <ion-label class="encabezado">{{llamada.fecha | date:'dd/MM hh:MM'}}</ion-label>

    <p class="ion-text-lowercase datos">{{llamada.segundos}} segundos</p>
  </div>
</ion-item>