<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Contactados</ion-title>
 
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-searchbar
    
      #buscarContactado
      class="white"
        placeholder="Buscar..."
        animated="animated"
        (ionChange)="buscar( $event )"
      
      ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Tire para actualizar"
          refreshingSpinner="circles"
          refreshingText="actualizadando...">          
        </ion-refresher-content>
      </ion-refresher>
      <app-listado-clientes [lstClientes]="lstClientes" [textoBuscar]="textoBuscar"></app-listado-clientes>
 
</ion-content>