<ion-content
  color="primary"
  class="ion-padding"
>
  <ion-row class="ion-justify-content-center">
    <ion-thumbnail>
      <ion-img src="./assets/logos/cropped-Logo-Imple-192x192.png"></ion-img>
    </ion-thumbnail> 

    <ion-col
      size="12"
      class="ion-justify-content-center"
    >
      <form
        [formGroup]="loginForm"
        (ngSubmit)="logForm()"
        class="ion-margin"
      >
        <div class="ion-text-center">
          <ion-label>Usuario</ion-label>
        </div>

        <ion-item
          class="input"
          no-line="no-line"
        >
          <ion-icon
            name="person"
            slot="end"
          ></ion-icon>

          <ion-input
            placeholder="miUsuario"
            class="input"
            type="text"
            formControlName="usuario"
          ></ion-input>
        </ion-item>

        <div class="ion-text-center">
          <ion-label>Contraseña</ion-label>
        </div>

        <ion-item
          class="input"
          no-line="no-line"
        >
          <ion-icon
            name="key"
            slot="end"
          ></ion-icon>

          <ion-input
            placeholder="************"
            class="input"
            type="password"
            formControlName="contrasenia"
          ></ion-input>
        </ion-item>

        <div class="ion-padding-top">
          <ion-button
            expand="block"
            color="light"
            type="submit"
            [disabled]="!loginForm.valid"
          >Iniciar Sesión</ion-button>
        </div>
      </form>
    </ion-col>
  </ion-row>
</ion-content>