<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Detalle cliente</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="close" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-segment scrollable="scrollable" mode="md" color="light" (ionChange)="cambioPagina( $event,theSlides )">
      <ion-segment-button mode="md" *ngFor="let pag of paginas" [value]="pag" checked="pag.icon==='person'">
        <ion-icon [name]="pag.icon"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #theSlides>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-item class="ion-no-padding">
            <ion-icon color="primary" name="key" slot="end"></ion-icon>

            <div>
              <ion-label class="encabezado">Rut</ion-label>

              <ion-label class="datos">{{cliente.rut | rut}}</ion-label>
            </div>
          </ion-item>

          <ion-item class="ion-no-padding">
            <ion-icon color="primary" name="person" slot="end"></ion-icon>

            <div>
              <ion-label class="encabezado">Nombre</ion-label>

              <ion-label class="datos">{{cliente.nombre}}</ion-label>
            </div>
          </ion-item>

          <ion-item class="ion-no-padding">
            <ion-icon  color="primary" name="call" slot="end"></ion-icon>
            <ion-icon  color="success" name="logo-whatsapp" slot="end"></ion-icon>
            <div>
              <ion-label class="encabezado">Celular</ion-label>
              <ion-label class="datos">{{cliente.celular}}</ion-label>

            </div>
          </ion-item>

          <ion-item class="ion-no-padding">
            <ion-icon color="primary" name="mail" slot="end"></ion-icon>

            <div>
              <ion-label class="encabezado">Correo</ion-label>

              <ion-label color="primary" class="datos">
                {{cliente.correo}}</ion-label>
            </div>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <ion-item *ngFor="let llamada of cliente.registros">
            <ion-avatar slot="start">
              <ion-icon src="./assets/svg/manager.svg" style="margin-right: 20px !important; font-size: xx-large;">
              </ion-icon>
            </ion-avatar>
            <div class="margin-vertical">
              <ion-label class="encabezado">{{llamada.fecha | date:'dd/MM/yyyy hh:mm:ss'}}</ion-label>

              <p class="datos" style="font-weight: 800" class="ion-text-lowercase">{{llamada.segundos}}</p>


            </div>

            <!-- <div slot="end">
                      <ion-buttons slot="primary">
                         <ion-button>
                          <ion-icon color="success" slot="icon-only" name="logo-whatsapp"></ion-icon>
                        </ion-button> -
                        <ion-button (click)="llamarCliente(cliente)">
                          <ion-icon color="primary" slot="icon-only" name="call"></ion-icon>
                        </ion-button>
                        <ion-icon *ngIf="cliente.registros.length >0" color="success" slot="icon-only" name="checkmark"></ion-icon>
                        <ion-icon *ngIf="cliente.registros.length ===0" color="medium" slot="icon-only" name="checkmark"></ion-icon>
                        <ion-button>
                          <ion-icon color="primary" slot="icon-only" name="mail"></ion-icon>
                        </ion-button> -
                      </ion-buttons>
                    </div> -->
          </ion-item>
        </ion-card-content>
      </ion-card>

    </ion-slide>
  </ion-slides>

</ion-content>