<ion-card>
  <ion-card-content>
    <ion-item class="ion-no-padding">
      <ion-icon color="primary" name="key" slot="end"></ion-icon>

      <div>
        <ion-label class="encabezado">Rut</ion-label>

        <ion-label class="datos">{{cliente.rut | rut}}</ion-label>
      </div>
    </ion-item>

    <ion-item class="ion-no-padding">
      <ion-icon color="primary" name="person" slot="end"></ion-icon>

      <div>
        <ion-label class="encabezado">Nombre</ion-label>

        <ion-label class="datos">{{cliente.nombre}}</ion-label>
      </div>
    </ion-item>

    <ion-item class="ion-no-padding">
      <ion-icon (click)="llamarCliente(cliente)" color="primary" name="call" slot="end"></ion-icon>
      <ion-icon (click)="accionEditarCelular('celular',cliente)" color="dark" name="create" slot="end"></ion-icon>
      <div>
        <ion-label class="encabezado">Celular</ion-label>
        <ion-label class="datos">{{cliente.celular}}</ion-label>

      </div>
    </ion-item>

    <ion-item class="ion-no-padding">
      <ion-icon color="primary" name="mail" slot="end"></ion-icon>
      <ion-icon (click)="accionEditarCorreo('correo',datos)" color="dark" name="create" slot="end"></ion-icon>
      <div>
        <ion-label class="encabezado">Correo</ion-label>

        <ion-label color="primary" class="datos">
          {{cliente.correo}}</ion-label>
      </div>
    </ion-item>
    <ion-item class="ion-no-padding" *ngIf="datos">
      <ion-icon
        color="primary"
        name="cash"
        slot="end"
      ></ion-icon>

      <div>
        <ion-label class="encabezado">Venta</ion-label>

        <ion-label class="datos">
          {{datos.creditoUtilizado |formatoMoneda}}
        </ion-label>
      </div>
    </ion-item>

    <ion-item class="ion-no-padding" *ngIf="datos">
      <ion-icon
        color="primary"
        name="card"
        slot="end"
      ></ion-icon>

      <div>
        <ion-label class="encabezado">Credito</ion-label>

        <ion-label class="datos">
          {{datos.credito |formatoMoneda}}
        </ion-label>
      </div>
    </ion-item>

    <ion-button (click)="abrirModal()" expand="block" color="success">comentario llamada</ion-button>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>

    <ion-card-title style=" text-align: start !important;">Contactos</ion-card-title>
  </ion-card-header>
  <ion-card-content *ngIf="datos && datos.contactos.length>0">

    <ion-item>
      <ion-icon name="person" slot="end" color="primary"></ion-icon>
      <div>
        <ion-label class="encabezado">Nombre</ion-label>
        <ion-label class="datos">{{datos.contactos[0].nombre}}</ion-label>
      </div>

    </ion-item>

    <ion-item *ngIf="datos.contactos.length>0">
      <ion-icon name="call" slot="end" color="primary"></ion-icon>
      <div>
        <ion-label class="encabezado">Celular</ion-label>
        <ion-label class="datos" color="primary">{{datos.contactos[0].telefono}}</ion-label>
        
      </div>

    </ion-item>

    <ion-item *ngIf="datos.contactos.length>0">
      <ion-icon name="mail" slot="end" color="primary"></ion-icon>
      <div>
        <ion-label class="encabezado">Correo</ion-label>
        <ion-label class="datos" color="primary">{{datos.contactos[0].correo}}</ion-label>

      </div>

    </ion-item>

  </ion-card-content>
  <ion-card-content *ngIf="datos && datos.contactos.length==0">

      <ion-item>
        <div>
         
          <ion-label class="datos">No exiten registros</ion-label>
        </div>
  
      </ion-item>
  
  
    </ion-card-content>
</ion-card>