<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Clientes</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="logout()">
        <ion-icon color="light" slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-searchbar
    
      #buscarCli
      class="white"
        placeholder="Buscar..."
        animated="animated"
        (ionChange)="buscar( $event )"
      
      ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Tire para actualizar"
          refreshingSpinner="circles"
          refreshingText="actualizadando...">          
        </ion-refresher-content>
      </ion-refresher>
      <app-listado-clientes [lstClientes]="lstClientes" [recordsFound]="recordsFound" [textoBuscar]="textoBuscar"></app-listado-clientes>
 
</ion-content>