<ion-header>
  <ion-toolbar color="dark">
    <ion-title>{{titulo}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon color="light" slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
</ion-toolbar>