
<ion-card>
  <div class="ion-text-center">
    <ion-spinner name="dots" *ngIf="lstClientes.length===0"></ion-spinner>
  </div>
  <ion-card-content>
    <ion-item  *ngFor="let cliente of lstClientes | slice:0:20| filtros: textoBuscar: 'nombre':'rut'" >
      <ion-avatar slot="start">
        <ion-icon src="./assets/svg/manager.svg" style="margin-right: 20px !important; font-size: xx-large;"></ion-icon>
      </ion-avatar>
      <div class="margin-vertical" (click)="detalleCliente(cliente)">
        <ion-label class="encabezado" >{{cliente.rut | rut}}</ion-label>

        <p class="datos" style="font-weight: 800" class="ion-text-lowercase">{{cliente.nombre}}</p>
        <ion-label  color="primary">{{cliente.celular}}</ion-label>

      </div>

      <div slot="end">
        <ion-buttons slot="primary">
         <!--  <ion-button>
            <ion-icon color="success" slot="icon-only" name="logo-whatsapp"></ion-icon>
          </ion-button> -->
          <ion-button (click)="llamarCliente(cliente)">
            <ion-icon color="primary" slot="icon-only" name="call"></ion-icon>
          </ion-button>
          <ion-icon *ngIf="cliente.registros.length >0" color="success" slot="icon-only" name="checkmark"></ion-icon>
          <ion-icon *ngIf="cliente.registros.length ===0" color="medium" slot="icon-only" name="checkmark"></ion-icon>
         <!--  <ion-button>
            <ion-icon color="primary" slot="icon-only" name="mail"></ion-icon>
          </ion-button> -->
        </ion-buttons>
      </div>
    </ion-item>
  </ion-card-content>
</ion-card>