.card-content-md, .card-content-ios {
   
    -webkit-padding-start: 0px !important; 
    padding-inline-start: 0px !important; 


} 
ion-item {
    --ion-safe-area-right: 0 !important;
  }

.margin-vertical{
    margin-top: 4px;
    margin-bottom: 4px;
}